@model UFCFinder.Models.UFCSearch
@using UFCFinder.Models
@{
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#ufcform").on("submit", function () {
            $(".form").hide();
            $(".processing").show();
        });
    });

    function fbLogin() {
        FB.getLoginStatus(function (response) {
            if (response.status === 'connected') {
                $(".login").hide();
                $(".loggedIn").show();
                var accessToken = response.authResponse.accessToken;
                $("#FBAccessToken").val(accessToken);
            } else {
                FB.login(function (response) {
                    if (response.authResponse) {
                        $(".login").hide();
                        $(".loggedIn").show();
                        var accessToken = response.authResponse.accessToken;
                        $("#FBAccessToken").val(accessToken);
                    }
                });
            }
        });
    }
</script>

<div class="jumbotron">
    <h1>UFC Event Host Finder</h1>
    <p class="lead">Enter the information below to find illegally hosted events.</p>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ufcform" }))
{
    @Html.HiddenFor(f => f.FBAccessToken)

    @Html.ValidationSummary(false)

    if (ViewBag.Success == null)
    {
        <div class="form">
            <div class="login" style="display: @(string.IsNullOrEmpty(Model.FBAccessToken) ? "block" : "none")">
                <h4>Log into Facebook before submitting your request</h4>
                <input id="login" type="button" onclick="fbLogin()" value="Log in to Facebook" />
            </div>
            <div class="loggedIn" style="display: @(string.IsNullOrEmpty(Model.FBAccessToken) ? "none" : "block")">
                You are logged in to Facebook
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(f => f.LegalList, "Select a Legal List")<br />
                    <input type="file" name="LegalList" id="LegalList" />
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(f => f.WatchList, "Select a Watch List")<br />
                    <input type="file" name="WatchList" id="WatchList" />
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(f => f.SearchPhrases, "Enter Search Phrases (one per line)")<br />
                    @Html.TextAreaFor(f => f.SearchPhrases, new { style = "width: 100%; height: 100px" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(f => f.Email, "Email Address to Receive the Results")<br />
                    @Html.TextBoxFor(f => f.Email, new { style = "width: 100%" })
                </div>
            </div>
            <input id="submit" type="submit" value="Find Hosted Events" />
        </div>
        <div class="processing" style="display: none">
            <div class="row">
                Preparing list for processing, don't close this window...
            </div>
        </div>
    }
    else
    {
        <div>
            Your list is processing.  You will be emailed the results when it's finished.
            <br/>&nbsp;
            <br />&nbsp;
        </div>
    }
}